/*
*  html5resetcss
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}

/*
******************** html5resetcss
*/

/* min 320 px width */
.wrapper {
  display: grid;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  max-width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 40px 1fr 100px;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
}

.header {
  grid-area: header;
  display: flex;
  align-items: flex-end;
  border-bottom: 4px solid black;
}

.header__title a {
  white-space: nowrap;
  min-width: 320px;
  font-family: arial bold;
  font-weight: bold;
  font-size: max(1em, 25px);
  color: #000;
  text-decoration: none;
  text-shadow: -1px 1px 0px black, 1px 1px 0 black, 1px -1px 0 black,
    -1px -1px 0 black;
}

.main {
  grid-area: main;
  margin-top: 30px;
}

.nav {
  grid-area: nav;
  display: flex;
  height: 3vh;
  min-height: 18px;
  max-width: 100%;
  overflow: hidden;
  border-bottom: 2px solid #000;
}

.nav__left {
  display: flex;
  width: 50%;

  flex: 1;
  height: 3vh;
  gap: 5px;
  font-weight: bold;
  margin-top: -4px;
}

.nav__left a {
  display: flex;
  align-items: flex-end;
  margin-top: 5px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: medium;
  font-family: arial bold;
}

.nav__right {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  width: 25%;
  min-width: 76px;
  overflow: hidden;
}

input.header-search {
  border: none;
  min-width: 63px;
  width: 1em;
  height: 10vh;
  min-height: 13px;
}

.search-image {
  width: 3vw;
  height: 3vh;
  min-height: 13px;
  min-width: 11px;
  background-color: #fff;
  border: none;
}

.mobile-image-slideshow {
  display: flex;
  justify-content: center;
  min-height: 400px;
  min-width: 320px;
  width: 100%;
}

.title-wraps {
  display: flex;
  justify-content: center;
  font-size: max(1em, 32px);
}

.buttons {
  background-color: rgb(255, 255, 255);
  color: #222;
}

.caption-container {
  flex-wrap: wrap;
  text-align: center;
  background-color: rgb(255, 255, 255);
  padding: 2px 16px;
  color: #222;
  height: auto;
  width: 90%;
}

.desktop-image-slideshow {
  display: none;
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
  border-top: 5px solid #000;
  height: 100px;
}

@media all and (min-width: 500px) {
  .wrapper {
    width: 60vw;
    grid-template-rows: 100px 50px 1fr 100px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
      "header header header header header"
      "nav nav nav nav nav"
      "main main main main main"
      "footer footer footer footer footer";
  }

  .header {
    max-height: auto;
    border-bottom: 8px solid black;
  }

  .header a {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    font-size: 4vw;
  }

  .nav {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
  }

  .nav__left {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav__left a {
    display: flex;
    align-items: center;
    font-size: min(3vw, 25px);
    margin-bottom: 20px;
  }

  .nav__right {
    width: 50%;
    height: 100%;
  }

  .header-search {
    width: 9vw;
    height: 9vh;
  }

  .search-image {
    width: 1vw;
    height: 5vh;
  }

  .title-wraps {
    display: none;
  }

  .mobile-image-slideshow {
    display: none;
  }
  .caption-container {
    display: none;
  }

  .desktop-image-slideshow {
    display: grid;
    width: 100%;
    margin-top: 100px;

    grid-template-rows: 25px 1fr 25px 1fr 25px 1fr 25px 1fr;
    grid-template-areas:
      "pt pt pt pt"
      "pendant pendant pendant pendant"
      "rt rt rt rt"
      "rings rings rings rings"
      "gt gt gt gt"
      "grillz grillz grillz grillz"
      "wt wt wt wt"
      "wrap wrap wrap wrap";
  }

  .pendant-title {
    grid-area: pt;
  }

  .pendant-title a:link {
    text-decoration: none;
    color: #000;
    font-weight: bolder;
  }

  .pendant-box {
    grid-area: pendant;
    display: flex;
    justify-content: space-between;
  }

  .ring-title {
    grid-area: rt;
    margin-top: 50px;
  }

  .ring-title a:link {
    text-decoration: none;
    color: #000;
    font-weight: bolder;
  }

  .ring-box {
    grid-area: rings;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }

  .grillz-title {
    grid-area: gt;
    margin-top: 50px;
  }

  .grillz-title a:link {
    text-decoration: none;
    color: #000;
    font-weight: bolder;
  }

  .grillz-box {
    grid-area: grillz;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }

  .wirewrap-title {
    grid-area: wt;
    margin-top: 50px;
  }

  .wirewrap-title a:link {
    text-decoration: none;
    color: #000;
    font-weight: bolder;
  }

  .wirewrap-box {
    grid-area: wrap;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
}
