body {
    margin-top: 0;
    padding-top: 0;
    /*min-width: 800px;*/
}

.outer-wrapper {
    max-width: 1056px;
}

.header {
    display: flex;
}

nav {
   display: inline-flex
}

li {
    display: inline;
}

select {
    text-decoration: none;
    border-style: none;
}

.search-svg {
    width: 15px;
    height: 15px;
}