body {
    background-color: rgb(248, 244, 244);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 30px;
    background-image: linear-gradient(rgb(248, 244, 244), white);
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    
  }

  .block-1 {
    display: flex;
    gap: 400px;
    margin-left: 40px;
    color:rgb(153, 143, 143);
    background-color: rgb(248, 244, 244);
  }

  .star {
    filter: invert(78%) sepia(71%) saturate(578%) hue-rotate(356deg) brightness(97%) contrast(110%);
  }

  .block-2 {
    display: flex;
    margin-left: 40px;
    color: #433e5c
    ;
    gap: 210px;
  }

  .block-3 {
    display: flex;
    margin-left: 40px;
    color:rgb(153, 143, 143);
    font-size:x-large;
    padding-bottom: 10px;
    
  }

  .block-4 {
    display: flex;
    gap: 50px;
    margin-left: 60px;
    padding-bottom: 100px;
  }

  .block-5 {
    display: flex;
    margin-left: 40px;
    
  }

  .insta {
    

  }

  .box-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #3c3954;
    border-radius: 15px;
    width: 50px;
    height: 50px;
    
  }

  .box-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3c3954;
    border: 1px solid rgb(59, 2, 59);
    border-radius: 15px;
    width: 50px;
    height: 50px;
  }

  .box-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(59, 2, 59);
    border-radius: 15px;
    width: 50px;
    height: 50px;
  }

  .block-5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .addtocart {
    color: #fece69;
    background-color: #312c46;
    margin-left: 30px;
    width: 200px;
    height: 75px;
    border-radius: 25px;

  }

  .wish {
    margin-left: 30px;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    color: #312c469c;
    border-color: #312c469c;
  }