/*
*  html5resetcss
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}

/*
*  html5resetcss
*/
.logo {
  display: none;
}

.search__container {
  display: none;
}

.cart {
  display: none;
}

.navbar {
  width: 100vw;
  height: 100vh;
  display: grid;
  align-items: flex-start;
  grid-template-columns: 1;
  grid-template-areas: repeat(6, 1fr);
  grid-template-areas:
    "1"
    "2"
    "3"
    "4"
    "5"
    "6";
}

.collapsible__women {
  cursor: pointer;
  border: none;
  background-color: #ffffff;
  color: #000;
  font-weight: bold;
  font-family: sans-serif;
  text-align: start;
  font-size: medium;
}

.collapsible__content {
  display: none;
  position: absolute;
  width: 100vw;
  height: 90vh;
  z-index: 1;
  top: 0px;
  left: 0;
  background-color: #ffffff;
}

button {
  background-color: #ffffff;
  border: none;
  font-size: large;
  font-family: "Times New Roman", Times, serif;
  color: #000;
  font-weight: 200;
}

button.collapsible__women-text {
  font-weight: bolder;
  font-family: sans-serif;
  color: #000;
}

.left-chevron {
  width: 16px;
  height: 16px;
}

.svg-x {
  margin-left: auto;
  width: 16px;
  height: 16px;
}

.svg-plus {
  margin-left: auto;
  width: 16px;
  height: 16px;
}

.border-1 {
  width: 100vw;
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;
  border-bottom: 1px solid #e6e6e7;
  height: 10%;
}

.shoe {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 10px;
  gap: 10px;
  font-size: small;
  border-bottom: 1px solid #e6e6e7;
  padding-bottom: 20px;
}

.shoe__image-2 {
  position: absolute;
  margin-top: 1px;
  margin-left: 3px;
}

.shoe__image {
  width: 100vw; 
  height: auto"
}

.collapsible__women-bottom-text {
  display: flex;
  flex-direction: column;
  font-size: small;
  gap: 15px;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e6e6e7;
}

.collapsible__women-bottom-link {
  display: inline-flex;
  margin-top: 10px;
  font-size: 10px;
  height: 75px;
}

.red-arrow-2 {
  margin-top: 7px;
}

/* navbar links*/
.navbar a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-family: sans-serif;
}

.nav__women-link {
  grid-area: 1;
}

.nav__men {
  grid-area: 2;
}

.nav__accessories {
  grid-area: 3;
}

.nav__mirror {
  grid-area: 4;
}

.nav__shoes {
  grid-area: 5;
}

.nav__like {
  grid-area: 6;
}

@media all and (min-width: 600px) {
  .wrapper {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 100px 0.5fr 50px;
    grid-template-rows: 10% 90%;
    grid-template-areas: "logo nav empty";
  }

  .navbar {
    width: 80vw;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: small;
  }

  .logo {
    display: contents;
    grid-area: logo;
    justify-content: center;
    align-items: center;
  }

  .logo__image {
    margin-top: 10px;
    margin-left: 40px;
  }

  .search__container {
    display: contents;
    width: 175px;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #faf5f5;
    gap: 5px;
    margin-left: 325px;
  }

  .search-icon {
    width: 15px;
    height: 15px;
    margin-left: 5px;
  }

  .search__text {
    color: #999899;
  }

  .red {
    width: 20px;
    border-bottom: 3.5px solid #d31334;
    position: absolute;
    top: 35px;
    left: 106px;
  }

  .empty {
    grid-area: empty;
  }

  .cart {
    display: contents;
  }

  .collapsible__women {
    font-size: small;
  }

  .nav__like a {
    color: #d62543;
  }

  .collapsible__content {
    display: none;
    position: absolute;
    width: 100vw;
    height: 90vh;
    z-index: 1;
    top: 40px;
    left: 0;
    background-color: #ffffff;
  }

  .border-1 {
    display: none;
  }

  .shoe__text-1 {
    display: none;
  }
  .shoe__image {
    width: 200px;
    height: 200px;
  }
}
